C:/Users/Tim/Desktop/K-SCANN/K-SCANN/Training/Data/deduplicated_human_fullSeq_centered_filteredpos.tsv filter=lfs diff=lfs merge=lfs -text
Data/deduplicated_human_fullSeq_centered_filteredpos.tsv filter=lfs diff=lfs merge=lfs -text
Training/Data/deduplicated_human_fullSeq_centered_filteredpos.tsv filter=lfs diff=lfs merge=lfs -text
